*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
backtest-gradle-project/.gradle
backtest-gradle-project/.settings
backtest-gradle-project/bin
*.classpath
*.project
*.csv
*.xls*
*.sql